sudo: required

if: branch =~ /^(master|release-\d\d.\d)$/ AND type IN (api)

git:
  depth: false

services:
- docker

env:
  global:
    - SSH_KEY: /tmp/travis-buildbot.rsa
      PACKAGE_SERVER_IP: 71.205.7.221
      REPOSITORY: buster
      PKGTOOLS_COMMIT: origin/${TRAVIS_BRANCH}
      UPLOAD: scp
  jobs:
    - ARCHITECTURE: amd64
    - ARCHITECTURE: i386

before_install:
- docker pull untangleinc/ngfw:${REPOSITORY}-build-${ARCHITECTURE}
- openssl aes-256-cbc -K $encrypted_6d2b6653a2ab_key -iv $encrypted_6d2b6653a2ab_iv -in .travis/buildbot.rsa.enc -out ${SSH_KEY} -d
- chmod 600 ${SSH_KEY}

script:
- docker-compose -f docker-compose.build.yml run pkgtools
- docker-compose -f docker-compose.build.yml run build

notifications:
  email: false
  slack:
    rooms:
      secure: Uv/CvJg69lqSHLW4tjti5FKVbs9FQhqtK1AIO5WjIbw1cEGHmmmAh7SqPyDpihiIjrN0ggvIQ+GgeFTPo0jfKJim213Vav+5GkR7vZHhv6WTsCUl+riwZ/PJSdT/684e/P51ajP1RYVu2dTLRWt63URUjrCphWOAooZ+bCkbeqUI0qMA2zYCZqT5r2YtgjKpfvULF2uQyAm2hrMQl1GRL3YEveASP4O0rmWoM1XCQe9w85JBWf+bh0i0y8fINKbOtZgPLxIR18TyPo0UO7nyQzRZLbWyRXmHUaK/t6zeD0e3H23WaTpa7kpw4LL2lSbymp1W41JkX8Tt+SVnSrAKpTcwvo+iEuJHBhce1m+/YXX57g9kCLIQhcVZ6V5bqFOdW3xA9VJQ+A0JLQCrCSzjgRykDJCPqT45C+sU5d2UzSSsHRdrswtkmI/bd9CzqnD5Kgj+5visu0IzqtFeCh+HKMruPqnDSl7wuvgxc2g2WKCVSU2PjQigha7+drXHUvwx+23mfR/SZVUFnxDxDc7aU/LdNroVneyi5RfADCSQCfco6YccGksJ4/pryZkqXnF0ho+a9ByVVl1Mk5pmaQbvLqT24s6B9PoDNtwBbu3uyNaOoYYm5vD3WM7WgkqNFp2mXR0dnO2A3tnw2igfTmRde54N9xgOOm83tHa+YSsNoCI=
    on_success: change
    on_failure: always
