Source: untangle-linux-image-4.9-linksys-wrt3200acm
Section: admin
Priority: optional
Maintainer: Sebastien Delafond <sdelafond@gmail.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.8.0

Package: untangle-linux-image-4.9-linksys-wrt3200acm
Architecture: armhf
Description: The Untangle linux image 4.9 for Linksys WRT3200ACM
 Provides the 4.9 trx, modules, and firmware for Linksys WRT3200ACM
