Source: untangle-linux-2.6
Section: devel
Priority: optional
Maintainer: Sebastien Delafond <seb@untangle.com>
Build-Depends: debhelper (>= 4.1.0), module-init-tools, dpkg-dev (>= 1.10.23), debianutils (>= 1.6), bzip2, sparc-utils [sparc], kernel-package (>= 10.035), ocaml-interp, python, gcc [i386]
Build-Depends-Indep: docbook-utils, gs, transfig, xmlto

Package: linux-image-2.6.16-ck11-untangle-failsafe
Architecture: i386
Section: base
Priority: optional
Provides: untangle-linux-image
Depends: module-init-tools (>= 3.2), libc6, initramfs-tools (>= 0.36)
Recommends: grub | lilo (>= 19.1)
Description: Untangle Linux kernel 2.6.16-ck11 image on x86 machines
 This package provides the binary image and pre-built loadable modules for
 Linux kernel 2.6.16-ck11 on x86 and compatible machines.
 Only used if 2.6.22 (or newer) doesn't work when upgrading
 Untangle 5.0 -> 5.1.
